<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum eros sed leo venenatis placerat.
                Suspendisse urna nibh, aliquet et sagittis vel, posuere eu odio. Duis in nisi pretium purus porta semper
                nec a arcu. In vehicula libero at metus convallis viverra. Proin vel neque dapibus, dignissim dolor sit
                amet, volutpat lectus. In ultricies, felis quis scelerisque facilisis, dolor sem ultrices sem, at ornare
                turpis urna at libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed a pellentesque
                arcu. Donec accumsan elit ante, et auctor tellus sagittis eu. Phasellus tortor arcu, elementum eu
                fermentum et, molestie at massa. Vestibulum consectetur nisl vitae massa venenatis pretium.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i> (00) 0 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>